*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


header{
  background-color: #E5E4E2;

}
header div{
  padding : 20px;
  font-size: 30px;
  display: inline-block;

}
main{
   text-align: center;

}
li a {
  color: #000;
  text-decoration: none;
  font-size: 25px;

  
}
<<<<<<< HEAD
h3{
  padding-left: 150px;
}
=======
>>>>>>> 0a775b998fe838d08a41e3141ea52b9b2dcb838c

li {
  vertical-align: center;
float: center;
  display: inline-block;
  padding: 20px;

}
<<<<<<< HEAD
#top{
=======
ul{
>>>>>>> 0a775b998fe838d08a41e3141ea52b9b2dcb838c
  vertical-align: center;
  float: right;
  display: inline-block;
  text-align: right;
}
<<<<<<< HEAD
#bbc{
    background-color: #E5E4E2;

}
=======

>>>>>>> 0a775b998fe838d08a41e3141ea52b9b2dcb838c

#mainImg {
  padding:25px ;
  float: center;
 width: 70%;
 height: 300;
}
#viewImg img {
  height: 200px;
  width: 300px;
  padding: 20px;
  padding-top: 60px;

}
<<<<<<< HEAD

#aIC{
    background-color: #E5E4E2;

  padding-left: 250px; 
  float: left;
}
#ulA li{
  
  font-size: 20px;
  display: block;
  background-color: #E5E4E2;
  padding: 10px;
}
#nS{
    background-color: #E5E4E2;

  padding-right: 250px;
  float: right;
  display: inline-block;
}
#nSl li{
  display: block;

=======
footer{
  background-color: #3E8D32;
>>>>>>> 0a775b998fe838d08a41e3141ea52b9b2dcb838c
}