*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


header{
  background-color: #E5E4E2;

}
header div{
  padding : 20px;
  font-size: 30px;
  display: inline-block;

}
main{
   text-align: center;

}
li a {
  color: #000;
  text-decoration: none;
  font-size: 25px;

  
}
 
h3{
  padding-left: 150px;
}

li {
  vertical-align: center;
float: center;
  display: inline-block;
  padding: 20px;

}

ul{
  vertical-align: center;
  float: right;
  display: inline-block;
  text-align: right;
}

#bbc{
    background-color: #E5E4E2;

}


 

#mainImg {
  padding:25px ;
  float: center;
 width: 70%;
 height: 300;
}
#viewImg img {
  height: 200px;
  width: 300px;
  padding: 20px;
  padding-top: 60px;

}


#aIC{
    background-color: #E5E4E2;

  padding-left: 250px; 
  float: left;
}
#ulA li{
  
  font-size: 20px;
  display: block;
  background-color: #E5E4E2;
  padding: 10px;
}
#nS{
    background-color: #E5E4E2;

  padding-right: 250px;
  float: right;
  display: inline-block;
}
#nSl li{
  display: block;


<<<<<<< HEAD
footer {
  background-color:#3E8D32;

}

#line{
  height:355px ;
  background-color: red;
=======
footer{
  background-color:#3E8D32;

>>>>>>> 371cd73cfef0707b59007bf8ed1030f12aad7614
}